  <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <% if current_user %>
            <div class="user-panel">
              <div class="pull-left image">
                <% image = current_user.image.nil? ? "/backend/dist/img/avatar04.png": current_user.image  %>
                <img src="<%= image %>" class="img-circle" alt="User Image" />
              </div>
              <div class="pull-left info">
                <p><%= current_user.name %></p>
                <!--<a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
              </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
              <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..."/>
                <span class="input-group-btn">
                  <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
              <li class="header">Main Navigation</li>  
               <li>
                <a href="">
                  <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
              </li>
              <li>
                <a href="/backend/courses">
                  <i class="fa fa-th"></i> <span>Create a Course</span> <small class="label pull-right bg-green">new</small>
                </a>
              </li>
               <li>
                <a href="/backend/balance">
                  <i class="fa fa-pie-chart"></i> <span>Balance</span>
                </a>
              </li>
              <li class="treeview">
                <%= link_to in_progress_courses_path do %>
                    <i class="fa fa-share"></i> <span>In Progress</span>
                <% end %>
              </li>
              <li class="treeview">
                <a href="#">
                  <i class="fa fa-dashboard"></i> <span>Assignments</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li class=""><a href="/backend/checked_assignments"><i class="fa fa-circle-o"></i>Checked</a></li>              
                  <li class=""><a href="/backend/pending_assignments"><i class="fa fa-circle-o"></i>Pending</a></li>              
                </ul>
              </li>  

            </ul>
          <% else %>
            <ul class="sidebar-menu">
              <li class="header">Main Navigation</li>  
              <li>
               <a href="">
                 <i class="fa fa-dashboard"></i> <span>Enroll?</span>
               </a>
              </li>
            </ul>
          <% end %>
        </section>
        <!-- /.sidebar -->
      </aside>
