<div class="content-wrapper">
  <section class="content-header">
    <h1>
      <%=@user.name%>
      <small>profile</small>
    </h1>
  </section>
  <section class="content">
  <ul>
    <%Course.where(:user_id=>@user.id).order('created_at ASC').each do |course|%>
      <li>
        <a href="/courses/<%=course.id%>"><%=course.name%></a>
      </li>
    <%end%>
  </section>
  <ul>
</div>
