<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Courses
      <small>manage and create new courses</small>
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
    <div class="inner">
      <h3>
       50
      </h3>
      <p>
       Rails Junior
      </p>
    </div>
    <div class="icon">
       <i class="ion ion-stats-bars"></i>
    </div>
    <a  class="small-box-footer">
      Edit <i class="fa fa-arrow-circle-right"></i>
    </a>
        </div>
      </div><!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
    <div class="inner">
      <h3>
        60
      </h3>
      <p>
        HTML5
      </p>
    </div>
    <div class="icon">
      <i class="ion ion-stats-bars"></i>
    </div>
    <a  class="small-box-footer">
      Edit <i class="fa fa-arrow-circle-right"></i>
    </a>
        </div>
      </div><!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
    <div class="inner">
      <h3>
        60
      </h3>
      <p>
        CSS3
      </p>
    </div>
    <div class="icon">
        <i class="ion ion-stats-bars"></i>
    </div>
    <a  class="small-box-footer">
     Edit <i class="fa fa-arrow-circle-right"></i>
    </a>
        </div>
      </div><!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
    <div class="inner">
      <h3>
        65
      </h3>
      <p>
        Unique Visitors
      </p>
    </div>
    <div class="icon">
      <i class="ion ion-pie-graph"></i>
    </div>
    <a href="#" class="small-box-footer">
      Edit <i class="fa fa-arrow-circle-right"></i>
    </a>
        </div>
      </div><!-- ./col -->
    </div><!-- /.row -->  

    <!-- Sections as boxes
      En esta parte se tiene se van a cargar todas las secciones por curso
     -->      

    <div class="form-group">
      <label>Tile</label>
      <input type="text" class="form-control" placeholder="Enter ..."/>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
    </div>

    <div class="form-group">
      <label>Category</label>
      <select class="form-control">
        <% Category.all.each do |c| %>
          <option value="<%= c.id %>"><%= c.name %></option>
        <% end %>
      </select>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>

    <h4 id="Sections" class="page-header">
      Sections
      <small>This sections is for each selected course</small>
    </h4>

    <!-- Solid boxes -->
    <div class="row">
      <div class="col-md-4">
        <!-- Default box -->
        <div class="box box-solid box-primary">
          <div class="box-header">
            <h3 class="box-title">Section 1</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
              <button class="btn btn-default btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <div class="box-body">
            <div class="form-group">
              <label>Tile</label>
              <input type="text" class="form-control" placeholder="Enter ..."/>
            </div>

            <div class="form-group">
              <label>Video url</label>
              <input type="text" class="form-control" placeholder="Enter ..."/>
            </div>

            <div class="form-group">
              <label>Content</label>
              <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
            </div>

            <div class="form-group">
              <label>Homework description</label>
              <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
            </div>

            <div class="form-group">
              <label>Homework price</label>
              <div class="input-group">
                <span class="input-group-addon">Ð</span>
                <input type="text" class="form-control">
                <span class="input-group-addon">.00</span>
              </div>
            </div>

            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>

          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->

      <div class="col-md-4">
        <!-- Default box -->
        <div class="box box-solid box-primary">
          <div class="box-header">
            <h3 class="box-title">Section 2</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
              <button class="btn btn-default btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <div class="box-body">
            <div class="form-group">
              <label>Tile</label>
              <input type="text" class="form-control" placeholder="Enter ..."/>
            </div>

            <div class="form-group">
              <label>Video url</label>
              <input type="text" class="form-control" placeholder="Enter ..."/>
            </div>

            <div class="form-group">
              <label>Content</label>
              <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
            </div>

            <div class="form-group">
              <label>Homework description</label>
              <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
            </div>

            <div class="form-group">
              <label>Homework price</label>
              <div class="input-group">
                <span class="input-group-addon">Ð</span>
                <input type="text" class="form-control">
                <span class="input-group-addon">.00</span>
              </div>
            </div>

            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>

          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->

      <div class="col-md-4">
        <!-- Default box -->
        <div class="box box-solid box-primary">
          <div class="box-header">
            <h3 class="box-title">Section 3</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
              <button class="btn btn-default btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <div class="box-body">
            <div class="form-group">
              <label>Tile</label>
              <input type="text" class="form-control" placeholder="Enter ..."/>
            </div>

            <div class="form-group">
              <label>Video url</label>
              <input type="text" class="form-control" placeholder="Enter ..."/>
            </div>

            <div class="form-group">
              <label>Content</label>
              <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
            </div>

            <div class="form-group">
              <label>Homework description</label>
              <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
            </div>

            <div class="form-group">
              <label>Homework price</label>
              <div class="input-group">
                <span class="input-group-addon">Ð</span>
                <input type="text" class="form-control">
                <span class="input-group-addon">.00</span>
              </div>
            </div>

            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>

          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">
      <div class="col-md-4">
        <!-- Default box -->
        <div class="box box-solid box-primary">
          <div class="box-header">
            <h3 class="box-title">Section 4</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
              <button class="btn btn-default btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <div class="box-body">
            <div class="form-group">
              <label>Tile</label>
              <input type="text" class="form-control" placeholder="Enter ..."/>
            </div>

            <div class="form-group">
              <label>Video url</label>
              <input type="text" class="form-control" placeholder="Enter ..."/>
            </div>

            <div class="form-group">
              <label>Content</label>
              <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
            </div>

            <div class="form-group">
              <label>Homework description</label>
              <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
            </div>

            <div class="form-group">
              <label>Homework price</label>
              <div class="input-group">
                <span class="input-group-addon">Ð</span>
                <input type="text" class="form-control">
                <span class="input-group-addon">.00</span>
              </div>
            </div>

            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>

          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->

      <div class="col-md-4">
        <!-- Default box -->
        <div class="box box-solid box-primary">
          <div class="box-header">
            <h3 class="box-title">New section</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
              <button class="btn btn-default btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <div class="box-body">
            <div class="form-group">
              <label>Tile</label>
              <input type="text" class="form-control" placeholder="Enter ..."/>
            </div>

            <div class="form-group">
              <label>Video url</label>
              <input type="text" class="form-control" placeholder="Enter ..."/>
            </div>

            <div class="form-group">
              <label>Content</label>
              <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
            </div>

            <div class="form-group">
              <label>Homework description</label>
              <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
            </div>
            <div class="form-group">
              <label>Homework price</label>
              <div class="input-group">
                <span class="input-group-addon">Ð</span>
                <input type="text" class="form-control">
                <span class="input-group-addon">.00</span>
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>

          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->
    </div><!-- /.row -->

  </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
