<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> beta 1.0
  </div>
  <strong>Copyright &copy; 2015 <a href="http://www.rosalilastudio.com/">Rosalila Studio</a>.</strong> All rights reserved.
</footer>